# Intermediate build artifacts
obj/**/*.o
obj/**/*.d
obj/**/*.234r.expand
obj/callgraph.dot

# Python bytecode
__pycache__/
*.pyc

# MRS local cache
.mrs/

# Tauri & Host Build Artifacts
gunlight-host/src-tauri/target/
gunlight-host/node_modules/

